$background-color: rgba(255, 255, 255, 0.9);

$close-width: 4em;
$close-height: 2.5em;
$close-color: lightgray;

$open-width: 30em;
$open-height: 80%;
$open-color: #555;

$placeholder-color: orange;

$border-radius: 6px;

$transition-duration: 0.2s;

.pocket {
  position: absolute;
  top: 50%;
  right: 0;

  width: $close-width;
  height: $close-height;

  padding: 8px;

  color: $close-color;
  background-color: $background-color;

  border: $close-color solid 1px;
  outline: rgba(255, 255, 255, 0) solid 1px;
  border-right: 0px;
  border-top-left-radius: $border-radius;
  border-bottom-left-radius: $border-radius;

  overflow-y: scroll;

  transition: all $transition-duration;

  z-index: 100;

  &-open, &-locked {
    top: 10%;

    width: $open-width;
    height: $open-height;

    color: $open-color;
    background-color: $background-color;

    border-color: $open-color;
  }
}

.pocket-lock {
  float: right;

  visibility: hidden;
  opacity: 0;

  transition: all $transition-duration;
}

.pocket-open, .pocket-locked {
  .pocket-lock, .pocket-group {
    visibility: visible;
    opacity: 1;
  }
}

.pocket-group {
  visibility: hidden;
  opacity: 0;
  transition: all $transition-duration;

  padding: 6px;
  margin-bottom: 6px;

  background-color: #fefced;

  border: dotted 1px;
  border-radius: $border-radius;

  .pocket-label {
    font-weight: 500;
  }

  .pocket-list {
    padding: 2px;
  }
}

.pocket-label {
  display: inline;
}

.pocket-textarea {
  display: none;

  padding: 0;
}

.pocket-edit {
  .pocket-label {
    display: none;
  }

  .pocket-textarea {
    display: inline;
  }
}

.pocket-placeholder {
  list-style-type: none;

  height: 1.6em;
  border: $placeholder-color dashed 1px;
}
